* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* ---------------------------- Nav ----------------------------- */

.hide {
    display: none;
    width: 80px;
    height: 40px;
    margin-top: .8rem;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    /* padding: 0 .5rem; */
    /* background-color: green; */
}

.nav .logo,
.form-container .logo {
    width: 100px;
    margin-top: .8rem;
    height: 50px;
}

.nav .logo-img,
.form-container .logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    padding: 1.5rem;
}

.nav .nav-items {
    display: flex;
    position: relative;
}

.nav .nav-items li {
    font-size: 1rem;
    cursor: pointer;
    font-weight: 300;
    margin-right: 4rem;
}

.nav .login {
    background-color: #005F6A;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    height: 40px;
    width: 100px;
    text-decoration: none;
    border-radius: 1.2rem;
    position: absolute;
    right: 0;
    top: 1.2rem;
}


/* ---------------------------- !Nav ----------------------------- */

/* ---------------------------- Welcome ----------------------------- */
.welcome {
    background-color: #23233F;
    padding: .5em;
    overflow-y: hidden;
    height: 300px;
    color: #fff;
}


.welcome-text-img {
    display: flex;
    justify-content: center;
    /* padding: 2rem; */
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    margin-right: 2rem;
}

.welcome-text h4 {
    font-size: 3.5rem;
    font-weight: 400;
}

.welcome-text p {
    font-size: 1.5rem;
}

.welcome-img {
    width: 300px;
    height: 300px;

    border: 7px solid #005F6A;
    border-radius: 50%;
    position: relative;
    /* background-color: blue; */
}

.welcome-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -2px;
    left: 0;

}

/* ---------------------------- !Welcome ----------------------------- */



/* ---------------------------- Services ----------------------------- */

.services-head {
    /* background-color: orangered; */
    margin: 2rem 0 1rem 0;
}

.services-head h1 {
    font-weight: 400;
    font-size: 2.5rem;
}

.services-body {
    display: flex;
    justify-content: center;
}

.services-body .service-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.services-body .service-item {
    position: relative;
    padding: 1rem;
    margin-right: .3rem;
}

.services-body .service-item h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

.services-body .service-item i {
    font-size: 1.5rem;
    font-weight: 300;
}

.vertical-line {
    width: 1px;
    border: 1px solid #ddd;
    height: 90px;
    position: absolute;
    top: 10%;
    right: 0;
}

/* ---------------------------- !Services ----------------------------- */



/* ---------------------------- Home \ login ----------------------------- */
.form-container .signup-logo {
    display: flex;
    justify-content: center;
}

.form-content h3 {
    text-align: center;
}

.form-content input,
.form-content select {
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #ddd;
}

.form-content .checkbox {
    width: 10%;
}

.form-content button {
    padding: .7rem 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: #005F6A;
    color: #fff;
}

.form-container a {
    text-decoration: none;
    font-size: .8rem;
}


/* ---------------------------- !Home \ login ----------------------------- */


/* ---------------------------- sub services----------------------------- */

.sub-services {
    /* background: red; */
    display: flex;
    justify-content: center;
}

.sub-items {
    /* background-color: white; */
    display: flex;
}

.sub-services .sub-items .sub-item {
    width: 500px;
    text-align: left;
    margin: 1rem;
}

.sub-services .sub-items .sub-item2 {
    width: 300px;
}

.sub-services .rad-1 .sub-bg {
    /* background-color: blue; */
    border-top-left-radius: 40%;
}

.sub-services .rad-2 .sub-bg {
    /* background-color: blue; */
    border-bottom-right-radius: 40%;
}


.sub-item .sub-bg {
    height: 200px;
    width: 100%;
    background-color: rgb(179, 154, 122);
}

.sub-item .sub-text {
    margin-top: .5rem;
}


/* ---------------------------- !sub services ----------------------------- */



/* ---------------------------- members ----------------------------- */
.members {
    width: 100%;
    height: 55vh;
    background-color: #23233F;
    border-bottom-right-radius: 10em;
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.members .color {
    width: 250px;
    height: 250px;
    background-color: gold;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
}

.member-star * {
    color: #fff;
    font-weight: 400;
    text-align: left;
}

.members .member-star {
    display: flex;
    /* background-color: #ddd; */
    width: 70%;
    padding: 2rem 0;

}

.star .stars {
    font-size: 2.6rem;
    /* line-height: 4px; */
    letter-spacing: 10px;
    text-align: left;
    color: gold;
}

.star .review {
    line-height: 1.5px;
    text-align: left;
    font-size: 1.3rem;
}

.star button {
    margin-top: 2rem;
    padding: .3rem 1.8rem;
    border-radius: 2.5rem;
    text-align: left;
    border: 3px solid #fff;
    font-size: 1.2rem;
    background-color: transparent;
}

.member-star .member {
    width: 60%;
    text-align: left;
}

.member-star .star {
    width: 40%;
}

.member-star h1 {
    font-size: 3.8rem;
}

/* ---------------------------- !members ----------------------------- */


/* ---------------------------- finances ----------------------------- */
.finances {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.finance {
    /* background-color: white; */
    width: 70%;
}

.finances .finance-header {
    width: 75%;
    border-bottom: 2em;
    /* background-color: yellow; */
    text-align: left;
}

.finances .finance-header h1 {
    font-size: 55px;
}

.finance-body {
    display: flex;
    justify-content: center;
}

.finance-body .left {
    text-align: left;
}

.finance-body .left a {
    text-decoration: none;
}

.finance-body .left .left-container {
    width: 460px;
    background-color: #ddd;
    border-top-left-radius: 10rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 350px;
}

.finance-body .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.finance-body .right .right-item {
    /* background-color: #005F6A; */
    width: 230px;
    text-align: left;
    height: 197px;
}

.finance-body .right .last {
    border-bottom-right-radius: 5rem;
}

.finance-body .right .right-item .item-img {
    width: 100%;
    height: 70%;
    background-color: #ddd;
}

.right-item .item-link {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
}

.more-articles {
    display: flex;
    /* background-color: red; */
    justify-content: center;
}

.mores {
    /* background-color: blue; */
    text-align: left;
    width: 70%;
}

.more-articles button {
    border: 2px solid #005F6A;
    background-color: transparent;
    padding: .3rem 1.8rem;
    font-size: 1.2rem;
    transition: all .5s ease-in-out;
    border-radius: 2.5rem;
}

.more-articles button:hover {
    background-color: #005F6A;
    color: white;
}

/* ---------------------------- !finances ----------------------------- */


/* ---------------------------- savings ----------------------------- */
.savings {
    background-color: #005F6A;
    height: 45vh;
    width: 100%;
    margin: 3em 0;
}

.savings .savings-items {
    display: flex;
}

.savings .savings-items .item-1 {
    background-color: #15063b;
    border-right: 3px solid #fff;
    border-top-right-radius: 12rem;
    border-bottom-right-radius: 12rem;
    margin-right: 6rem;
    width: 30%;
    height: 45vh;
}

.savings .savings-items .item-2 {
    display: flex;
    margin-left: 2rem;
    align-items: center;
    width: 40%;

}

.savings .savings-items .item-2 div {
    text-align: left;
}

.savings .savings-items .item-2 h1 {
    font-size: 2.8rem;
    margin-bottom: .5em;
    color: white;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 1px;
}

.savings .savings-items .item-2 p {
    font-weight: 500;
    color: white;
    font-size: 16px;
    margin-right: 5em;
    margin-bottom: 1.8em;
}

.savings .savings-items .item-2 button {
    border: 2px solid #fff;
    background-color: transparent;
    padding: .3rem 1.8rem;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s ease-in-out;
    border-radius: 2.5rem;
}

.savings .savings-items .item-2 button:hover {
    background-color: #092d31;
    color: #fff;
}


/* ---------------------------- !savings ----------------------------- */


/* ---------------------------- !financial needs ----------------------------- */
.financial-needs {
    display: flex;
    justify-content: center;
    margin: 3rem;
}



.needs {
    width: 70%;
}

.financial-needs .needs-head {
    width: 75%;
    margin-bottom: 4em;
    text-align: left;
}

.financial-needs .needs-head h1 {
    font-size: 55px;
}

.needs-body .needs-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem 1rem;
}

.needs-body .needs-item{
    width: 285px;
    text-align: left;
}

.needs-body .needs-item h4{
    /* margin-bottom: 1rem; */
    font-size: 1.2rem;
}

.needs-body .needs-item p{
    font-weight: 450;
    /* letter-spacing: 1px; */
    line-height: 1.2;
}

.dummy-paragraph{
    /* padding: 1rem 0; */
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd;
}



/* ---------------------------- !financial needs ----------------------------- */



/* ---------------------------- footer ----------------------------- */
.footer{
    /* background-color: blue; */
    /* color: #fff; */
    display: flex;
    justify-content: center;
}


.footer-items{
    /* background-color: red; */
    text-align: left;
    display: grid;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem 1rem;
}

.footer-items .item{
    text-align: left;
    width: 180px;
    padding: 0 2px;
}

.footer-items .item h4{
    font-size: 14px;
    font-weight: 500;
}

.footer-items .item ul{
    padding: 0;
}

.footer-items .item ul li{
    font-size: 13px;
    margin-bottom: .5em;
}

.footer-items .item ul li a{
    text-decoration: none;
    /* color: #fff; */
}

/* ---------------------------- !footer ----------------------------- */



@media screen and (max-width: 768px) {
    .hide {
        display: block;
        position: relative;
        /* margin-top: 2rem; */
    }

    .nav {
        justify-content: space-between;
        padding: 0 .3rem;
    }

    .nav ul {
        display: none;
    }

    .nav .logo,
    .form-container .logo {
        width: 110px;
        margin-top: .5rem;
        height: 60px;
    }

    .nav .nav-items {
        position: static;
        padding-top: 2rem;
    }

    .nav .login {
        position: static;
    }

    .services-body .service-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .nav-items {
        display: inline-block;
    }

    .sub-services .sub-items .sub-item {
        width: 350px;
    }

    .sub-services .sub-items .sub-item2 {
        width: 220px;
    }

    .members .member-star {
        flex-direction: column;
        padding: 0;
        /* background-color: blue; */
        width: 60%;
    }

    .member-star h1 {
        font-size: 2rem;
    }

    .member-star .member {
        width: 100%;
    }

    .member-star .star {
        width: 100%;
    }

    .finance-body .left .left-container {
        width: 350px;
    }

    .finance-body .right .right-item {
        width: 180px;
    }


    .finances .finance-header {
        width: 100%;
        padding-right: 15rem;
    }

    .finance {
        width: 100%;
    }

    .finances .finance-header h1 {
        font-size: 36px;
    }


    .savings {
        height: 68vh;
    }

    .savings .savings-items .item-1 {
        border-top-right-radius: 12rem;
        border-bottom-right-radius: 12rem;
        margin-right: 3rem;
        height: 68vh;
    }

    .savings .savings-items .item-2 {
        margin-left: 1rem;
        width: 70%;

    }



    .needs {
        width: 90%;
    }
    
    .financial-needs .needs-head {
        width: 100%;
    }

    .needs-body .needs-item{
        width: 200px;
    }
}

@media screen and (max-width: 430px) {
    /* --------------------------- Welcome ----------------------------- */

    .welcome {
        height: fit-content;
    }

    .welcome-text h4 {
        font-size: 1.3em;
    }

    .welcome-text p {
        font-size: .9em;
    }

    .welcome-img {
        width: 150px;
        height: 150px;
    }

    /* --------------------------- !Welcome ----------------------------- */

    .services-body .service-items {
        width: 100%;
        overflow: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .sub-items {
        flex-direction: column;
    }

    .sub-services .sub-items .sub-item {
        width: 90%;
    }

    .members {
        height: 70vh;
    }

    .members .member-star {
        width: 85%;
    }

    .members .color {
        width: 60px;
        height: 60px;
        left: -10px;
    }

    .member-star h1 {
        font-size: 1.5rem;
    }

    .finance-body .left .left-container {
        width: 100%;
    }

    .finance-body .right .right-item {
        width: 155px;
    }

    .finances {
        margin: 1em;
    }

    .right-item .item-link {
        font-size: 10px;
    }

    .finance {
        width: 100%;
    }

    .finances .finance-header {
        width: 100%;
        padding-right: 0;
    }

    .finance-header h1 {
        width: 100%;
        font-size: 2rem;
    }

    .finance-body {
        flex-direction: column;
    }

    .finance-body .left {
        margin-bottom: 1rem;
    }


    .savings {
        height: 68vh;
    }

    .savings .savings-items{
        position: relative;
        justify-content: end;
    }

    .savings .savings-items .item-1 {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        position: absolute;
        left: -110px;
        margin-right: .5rem;
        width: 40%;
        height: 100px;
    }

    .savings .savings-items .item-2 {
        margin-left: none;
        width: 85%;
        height: 100%;
        margin-top: 2rem;
        padding-right: .5rem;
    }

    .savings .savings-items .item-2 h1 {
        font-size: 2rem;
    }

    .savings .savings-items .item-2 p {
        margin-right: 0;
        margin-bottom: 1.8em;
    }



    .needs {
        width: 90%;
        display: none;
    }

}

@media screen and (max-width: 320px) {
    .finance-body .right .right-item {
        width: 140px;
    }

    .savings .savings-items{
        position: relative;
        justify-content: end;
    }

    .savings .savings-items .item-1 {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        position: absolute;
        left: -90px;
        margin-right: .5rem;
        width: 40%;
        height: 100px;
    }
}