*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

/* ---------------------------- Nav ----------------------------- */

.hide{
    display: none;
}

.nav{
    display: flex;
    justify-content: space-around;
    height: 80px;
    /* background-color: green; */
}

.nav .logo, .form-container .logo{
    width: 110px;
    margin-top: 1rem;
    height: 60px;
}

.nav .logo-img, .form-container .logo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    margin-right: 2rem;
    padding: 1.5rem;
}

.nav .nav-items{
    display: flex;
    position: relative;
}

.nav .login{
    background-color: #005F6A;
    color: #fff;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    border-radius: 1.2rem;
    position: absolute;
    right: 0;
    top: 1.2rem;
}

.nav ul li{
    font-size: 1.2rem;
    margin-right: 4rem;
}

/* ---------------------------- !Nav ----------------------------- */

/* ---------------------------- Welcome ----------------------------- */
.welcome{
    background-color: #23233F;
    padding: .5em;
    overflow-y: hidden;
    height: 300px;
    color: #fff;
}


.welcome-text-img{
    display: flex;
    justify-content: center;
    /* padding: 2rem; */
}

.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.welcome-text h4{
    font-size: 3.5rem;
}

.welcome-text p{
    font-size: 1.5rem;
}

.welcome-img{
    width: 300px;
    height: 300px;
    border: 10px solid #005F6A;
    border-radius: 50%;
    position: relative;
    /* background-color: blue; */
}

.welcome-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -2px;
    left: 0;

}
/* ---------------------------- !Welcome ----------------------------- */



/* ---------------------------- Services ----------------------------- */

.services-head{
    /* background-color: orangered; */
    margin: 2rem 0 3rem 0;
}

.services-body{
    display: flex;
    justify-content: center;
}

.services-body .service-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.services-body .service-item{
    position: relative;
    /* background-color: beige; */
    padding: 2rem;
    margin-right: .5rem;
}

.services-body .service-item i{
    font-size: 2.5rem;
}

.vertical-line{
    width: 1px;
    border: 1px solid #ddd;
    height: 100px;
    position: absolute;
    top: 10%;
    right: 0;
}

/* ---------------------------- !Services ----------------------------- */



/* ---------------------------- Home \ login ----------------------------- */
.form-container .signup-logo{
    display: flex;
    justify-content: center;
}

.form-content h3{
    text-align: center;
}

.form-content input, .form-content select{
    width: 100%;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #ddd;
}

.form-content .checkbox{
    width: 10%;
}

.form-content button{
    padding: .7rem 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: #005F6A;
    color: #fff;
}

.form-container a{
    text-decoration: none;
    font-size: .8rem;
}


/* ---------------------------- !Home \ login ----------------------------- */





@media screen and (max-width: 768px){
    .hide{
        display: block;
        margin-top: 2rem;
    }

    .nav ul{
        display: none;
    }

    .welcome-text-img{
        flex-direction: column;
    }

    .nav .logo, .form-container .logo{
        width: 110px;
        margin-top: .5rem;
        height: 60px;
    }

    nav .login{
        padding: 0.7rem 1.2rem;
        position: absolute;
        right: 0;
        top: 0; 
    }

    .services-body .service-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-items{
        display: inline-block;
    }
}

@media screen and (max-width: 430px){

}